<form action="/analysis/result_analysis" method="post">
  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
  <textarea name="content"></textarea>
  <input type="submit">
</form>
